<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details Page</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ task.name }}</h1>
            <p>
                <a href="{% url 'update_todo' todo_object.id %}">Edit</a>
                <a href ="{% url 'todo_list' %}">My Lists</a>
            </p>
            <p>
                <a href="{% url 'delete.todo' todo_object.id %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todo_object.items.all %}
                        <tr>
                            <td>
                                <a href="">{{ item.task }}</a></td>
                            <td>{{ item.due_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
