<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p>
            <a href="{% url 'create_todo' %}">Create a new list</a>
            </p>
            <p>
            <a href="{% url 'create_item' %}">Create a new item</a>
            </p>
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in todo_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show_todo' item.id %}">{{ item.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
